body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todo-container {
  background: lightcoral;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.input-area {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 8px;
}

#addBtn {
  padding: 8px 12px;
  cursor: pointer;
}

#taskList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid hsl(25, 13%, 54%);
}

.completed {
  text-decoration: line-through;
  color:lightseagreen;
}
